@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:500,600,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&family=DM+Serif+Text&family=Inter:wght@400;800&family=Raleway:wght@500;600&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF9F4;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.jewellery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

[class*=__container] {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #FFF9F4;
  border-bottom: 1px solid rgba(131, 131, 131, 0.21);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  padding-top: 22px;
  padding-bottom: 34px;
}
@media (max-width: 960px) {
  .header__container {
    min-height: 50px;
  }
}
@media (max-width: 440px) {
  .header__container {
    gap: 5px;
  }
}
.header__logo {
  color: #000000;
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 5;
}
@media (max-width: 440px) {
  .header__logo {
    font-size: 24px;
  }
}
.header__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 960px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    padding: 80px 15px 30px 15px;
    background-color: #3c686c;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: -100%;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #d08c5f;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  row-gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .menu__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 960px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    row-gap: 28px;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    text-decoration-line: underline;
  }
}
.menu__item--act .menu__link {
  font-weight: 700;
  text-decoration-line: underline;
}
.menu__link {
  font-family: "Merriweather", serif;
  font-size: 20px;
  color: #000000;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 960px) {
  .menu__link {
    color: #FFFFFF;
    font-size: 28px;
  }
}
.menu__item--parent {
  position: relative;
}
.menu__item--parent .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.menu__item--parent .menu__link::after {
  content: "";
  background: url("../img/sub-menu-arrow.png") 0 0 no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  height: 8px;
  width: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__item--parent:hover .sub-menu {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    visibility: visible;
    display: block;
    pointer-events: all;
  }
  .menu__item--parent:hover .menu__link::after {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .menu__item--parent:hover .menu__link::before {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
}
@media (max-width: 960px) {
  .menu__item--parent .menu__link {
    display: block;
    position: relative;
  }
  .menu__item--parent .menu__link::after {
    display: none;
  }
  .menu__item--parent .menu__link::before {
    display: none;
  }
  .menu__item--parent::before {
    display: none;
  }
}

.sub-menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.sub-menu__list {
  width: 140px;
  border-radius: 15px;
  padding-top: 10px;
}
@media (max-width: 960px) {
  .sub-menu__list {
    width: 100%;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 960px) {
  .sub-menu__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.sub-menu__link {
  background-color: rgba(103, 120, 122, 0.4980392157);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  padding: 8px 30px;
  font-size: 18px;
}
@media (any-hover: hover) {
  .sub-menu__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 960px) {
  .sub-menu__link {
    font-size: 24px;
    width: 200px;
  }
}
@media (max-width: 960px) {
  .sub-menu {
    top: -18px;
    right: 150px;
    z-index: 2;
    position: relative;
    visibility: visible;
    opacity: 1;
    padding-top: 20px;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    z-index: 0;
  }
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  position: relative;
  z-index: 5;
}
@media (max-width: 440px) {
  .actions-header {
    gap: 10px;
  }
}
.actions-header__button {
  color: #FFFFFF;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #0E333D;
  padding: 12px 27px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .actions-header__button:hover {
    background-color: #186378;
  }
}
@media (max-width: 960px) {
  .actions-header__button {
    font-size: 18px;
    padding: 10px 25px;
  }
}
@media (max-width: 440px) {
  .actions-header__button {
    font-size: 16px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 960px) {
  .icon-menu {
    width: 30px;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000000;
    top: 0;
  }
  .icon-menu::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000000;
    bottom: 0;
  }
  .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000000;
    top: 50%;
    margin-top: -1px;
  }
}

@media (max-width: 960px) {
  .menu-open body {
    overflow: hidden;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}

.design__container {
  padding: 100px 15px 140px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.25%;
}
@media (max-width: 1023.98px) {
  .design__container {
    gap: 3%;
  }
}
@media (max-width: 960px) {
  .design__container {
    padding: 50px 15px 80px;
  }
}
@media (max-width: 767.98px) {
  .design__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 479.98px) {
  .design__container {
    padding: 30px 15px;
  }
}
.design__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 577px;
          flex: 0 1 577px;
  padding-top: 80px;
  padding-bottom: 65px;
}
.design__body *:last-child {
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .design__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding-top: 0;
    padding-bottom: 30px;
  }
}
.design__title {
  color: #0E333D;
  font-family: "DM Serif Text", serif;
  /* font-size: 78px; */
  font-size: calc(32px + 3.0327868852vw);
  line-height: 1.27;
  margin-bottom: 32px;
}
@media (min-width: 1220px) {
  .design__title {
    font-size: 78px;
  }
}
@media (max-width: 1023.98px) {
  .design__title {
    line-height: 1.15;
  }
}
@media (max-width: 767.98px) {
  .design__title {
    text-align: center;
    margin-bottom: 15px;
  }
}
.design__text {
  color: #727272;
  font-family: "Inter", sans-serif;
  /* font-size: 22px; */
  font-size: calc(12px + 0.6557377049vw);
  line-height: 1.48;
  margin-bottom: 48px;
}
@media (min-width: 1220px) {
  .design__text {
    font-size: 22px;
  }
}
@media (max-width: 767.98px) {
  .design__text {
    text-align: center;
    margin-bottom: 15px;
  }
}
.design__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  max-height: 467px;
}
@media (max-width: 1023.98px) {
  .design__images {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 967.98px) {
  .design__images {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .design__images {
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }
}
@media (max-width: 479.98px) {
  .design__images {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}

.btn {
  font-family: "DM Serif Text", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.btn button {
  /* font-size: 28px; */
  font-size: calc(12px + 1.1475409836vw);
  font-family: var(--ff-dm);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 1220px) {
  .btn button {
    font-size: 28px;
  }
}
@media (max-width: 479.98px) {
  .btn button {
    padding: 10px 30px;
  }
}
.btn__shop {
  color: #FFFFFF;
  padding: 12px 30px;
  border-radius: 5px;
  background-color: #0E333D;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .btn__shop:hover {
    background-color: #186378;
  }
}
.btn__video {
  color: #0E333D;
  padding: 12px 35px;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration-color 0.5s ease-out;
  transition: text-decoration-color 0.5s ease-out;
}
@media (any-hover: hover) {
  .btn__video:hover {
    text-decoration-color: initial;
  }
}

.images__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 245px;
          flex: 0 1 245px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.images__item--bottom {
  margin-top: 70px;
}
.images__item--top {
  margin-bottom: 70px;
}
.images__item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 245/467;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .images__item:hover {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }
  .images__item:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@media (max-width: 479.98px) {
  .images__item--bottom {
    margin-top: 0;
  }
  .images__item--top {
    margin-bottom: 0;
  }
}

.products {
  color: #FFFFFF;
  background-color: #0E333D;
}
.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 94px 15px;
}
.products__container:last-child {
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .products__container {
    padding: 50px 15px;
  }
}
@media (max-width: 767.98px) {
  .products__container {
    padding: 30px 15px;
  }
}
.products__title {
  font-family: "DM Serif Text", serif;
  /* font-size: 48px; */
  font-size: calc(30px + 1.5vw);
  line-height: 1.27;
  margin-bottom: 23px;
}
@media (min-width: 1220px) {
  .products__title {
    font-size: 48px;
  }
}
.products__subtitle {
  color: #EBEBEB;
  font-family: "Raleway", sans-serif;
  /* font-size: 20px; */
  font-size: calc(16px + 0.3333333333vw);
  font-weight: 500;
  line-height: 1.27;
  margin-bottom: 34px;
}
@media (min-width: 1220px) {
  .products__subtitle {
    font-size: 20px;
  }
}
.products__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 41px;
     -moz-column-gap: 41px;
          column-gap: 41px;
  font-family: "Raleway", sans-serif;
  /* font-size: 18px; */
  font-size: calc(14px + 0.3333333333vw);
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 77px;
}
@media (min-width: 1220px) {
  .products__filters {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .products__filters {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    margin-bottom: 30px;
  }
}
.products__articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .products__articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479.98px) {
  .products__articles {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

.filter__item {
  position: relative;
}
.filter__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.filter__item--active::after {
  width: 100%;
}
@media (any-hover: hover) {
  .filter__item:hover::after {
    width: 100%;
  }
}

.article__description {
  display: grid;
  row-gap: 17px;
}
@media (max-width: 767.98px) {
  .article__description {
    row-gap: 10px;
  }
}
@media (max-width: 479.98px) {
  .article__description {
    width: 100%;
  }
}
.article__img {
  border-radius: 5px;
  overflow: hidden;
}
.article__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 270/270;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .article__img img:hover {
    border-radius: 50% 50% 50% 0;
  }
}
@media (max-width: 479.98px) {
  .article__img {
    width: 100%;
  }
}
.article__info {
  display: grid;
  font-family: "Cormorant Infant", serif;
  /* font-size: 24px; */
  font-size: calc(18px + 0.4166666667vw);
  font-weight: 700;
  line-height: 1.4;
}
@media (min-width: 1220px) {
  .article__info {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  .article__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article__info p {
    text-align: center;
  }
}
.article__title {
  position: relative;
}
.article__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #D06B00;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .article__title:hover::after {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 991.98px) {
  .article__title {
    text-align: center;
  }
}

.create__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 38px;
     -moz-column-gap: 38px;
          column-gap: 38px;
  padding: 140px 15px 70px;
}
@media (max-width: 867.98px) {
  .create__container {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 100px;
  }
}
@media (max-width: 767.98px) {
  .create__container {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.create__body *:last-child {
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .create__body *:last-child {
    margin-bottom: 20px;
  }
}
.create__subtitle {
  color: #D06B00;
  font-family: "Inter", sans-serif;
  /* font-size: 28px; */
  font-size: calc(18px + 0.8333333333vw);
  margin-bottom: 13px;
}
@media (min-width: 1220px) {
  .create__subtitle {
    font-size: 28px;
  }
}
.create__title {
  color: #0E333D;
  font-family: "DM Serif Text", serif;
  /* font-size: 59px; */
  font-size: calc(28px + 2.0491803279vw);
  line-height: 1.465;
  margin-bottom: 25px;
}
@media (min-width: 1220px) {
  .create__title {
    font-size: 59px;
  }
}
.create__text p {
  color: #474747;
  font-family: Inter;
  /* font-size: 20px; */
  font-size: calc(12px + 0.6557377049vw);
  line-height: 180%;
}
@media (min-width: 1220px) {
  .create__text p {
    font-size: 20px;
  }
}
.create__text:not(:last-child) {
  margin-bottom: 10px;
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  position: relative;
}
.images__img {
  border-radius: 5px;
  overflow: hidden;
}
.images__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 273/518;
}

.popular__container {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 15px;
  row-gap: 128px;
}
@media (max-width: 767.98px) {
  .popular__container {
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 50px;
  }
}
.popular__body {
  display: grid;
  row-gap: 29px;
}
.popular__title {
  color: #0E333D;
  font-family: "DM Serif Text", serif;
  /* font-size: 48px; */
  font-size: calc(30px + 1.1666666667vw);
  line-height: 1.27;
  text-align: center;
}
@media (min-width: 1220px) {
  .popular__title {
    font-size: 48px;
  }
}
.popular__text p {
  color: #8C8B8A;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.27;
  text-align: center;
}
.popular__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
}

.product__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 398px;
          flex: 0 1 398px;
  overflow: hidden;
}
.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 398/728;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 767.98px) {
  .product__img {
    display: none;
  }
}
.product__list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 768px;
          flex: 0 1 768px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 47px 30px;
}
@media (max-width: 767.98px) {
  .product__list {
    gap: 20px;
  }
}
@media (max-width: 479.98px) {
  .product__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.product__item {
  display: grid;
  row-gap: 17px;
}
@media (max-width: 767.98px) {
  .product__item {
    row-gap: 10px;
  }
}
.product__image {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 396/277;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .product__image:hover {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }
  .product__image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.product__info {
  display: grid;
  row-gap: 4px;
}
@media (max-width: 767.98px) {
  .product__info {
    text-align: center;
  }
}
.product__title, .product__price {
  color: #000000;
  font-family: "Cormorant Infant", serif;
  /* font-size: 24px; */
  font-size: calc(16px + 0.4918032787vw);
  font-weight: 700;
  line-height: 1.4;
}
@media (min-width: 1220px) {
  .product__title, .product__price {
    font-size: 24px;
  }
}
.product__title a {
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration-color 0.5s ease-out;
  transition: text-decoration-color 0.5s ease-out;
}
@media (any-hover: hover) {
  .product__title a:hover {
    text-decoration-color: #D06B00;
  }
}

.footer {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  color: #0E333D;
  border-top: 3px solid #40DDB6;
  width: 100%;
  background-image: url("../img/footer/bg_repeat.jpg");
  z-index: 7;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
}
.footer__logo {
  width: 100px;
  height: 100px;
}
.footer__logo img {
  width: 100%;
}
.footer__copyright p::before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  margin: 0 5px -3px 0;
  background: url("../img/footer/circle-c.svg") center/contain no-repeat;
}
.footer__info {
  line-height: 1.2;
}
.footer__info *:not(:last-child) {
  margin-bottom: 5px;
}
.footer__validator {
  text-align: center;
}
.footer a {
  cursor: pointer;
  font-style: italic;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer a:hover {
  color: #4c0cac;
  border-bottom: 2px solid #4c0cac;
}