@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

address {
  font-style: normal;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #37393F;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.46;
  margin-bottom: 10px;
  margin-left: 18px;
  z-index: 0;
}
@media (max-width: 475.98px) {
  .label {
    font-size: 16px;
  }
}
.label::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 6px;
  left: -18px;
  background-color: #40DDB6;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11px;
          flex: 0 0 11px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-size: clamp(30px, 5vw, 40px);
  font-weight: 700;
  line-height: 1.21;
}

.button {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button--blue {
  background-color: #6B78E5;
  color: #ffffff;
}
@media (any-hover: hover) {
  .button--blue:hover {
    border-radius: 12px;
    background-color: #3646db;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .button--blue:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.button--green {
  background-color: #40DDB6;
  color: #37393F;
}
@media (any-hover: hover) {
  .button--green:hover {
    border-radius: 12px;
    color: #ffffff;
    background-color: #00a97f;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .button--green:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.button-up {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 169, 127, 0.4980392157);
  position: fixed;
  right: 15px;
  bottom: 15px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (any-hover: hover) {
  .button-up:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@media (max-width: 575.98px) {
  .button-up {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media (max-width: 475.98px) {
  .button-up {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}
.button-up::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  top: 20px;
  right: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header {
  position: relative;
}
.header__top {
  color: #ffffff;
  background-color: #37393F;
  padding-top: 21px;
  padding-bottom: 21px;
}
@media (max-width: 991.98px) {
  .header__top {
    padding: 0;
    opacity: 0;
    left: -100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-open .header__top {
    position: fixed;
    overflow: auto;
    opacity: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    min-height: 127px;
    z-index: 5;
    border-bottom: 2px solid #ffffff;
  }
}
@media (max-width: 991.98px) and (orientation: landscape) {
  .menu-open .header__top {
    height: 15%;
    min-height: 85px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
@media (max-width: 991.98px) {
  .header__container--top {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 991.98px) and (orientation: landscape) {
  .header__container--top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 991.98px) {
  .menu-open .header__container--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    gap: 10px;
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 475px;
          flex: 0 1 475px;
  gap: 10px;
}
@media (max-width: 991.98px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 767.98px) {
  .header__contacts {
    gap: 5px;
  }
}
.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 14px;
  gap: 10px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .header__address:hover {
    color: #40DDB6;
  }
}
.header__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  gap: 10px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .header__email:hover {
    color: #40DDB6;
  }
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 377px;
          flex: 0 1 377px;
  gap: 10px;
}
@media (max-width: 991.98px) {
  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 767.98px) {
  .header__info {
    gap: 5px;
  }
}
.header__opening {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  gap: 10px;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header__social svg {
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__social svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .header__social svg:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }
  .header__social svg:hover > path {
    fill: #40DDB6;
  }
}
.header__bottom {
  padding-top: 33px;
  padding-bottom: 33px;
}
@media (max-width: 991.98px) {
  .header__bottom {
    padding: 20px 0;
  }
}
.header__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 210px;
          flex: 0 0 210px;
  z-index: 5;
}
.header__title {
  color: #37393F;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.header__title--color {
  color: #6B78E5;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 825px;
          flex: 0 1 825px;
}
@media (max-width: 991.98px) {
  .header__actions {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header__button {
  padding: clamp(18px, 2vw, 21px) clamp(25px, 4vw, 35px);
  max-width: 184px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .header__button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media (max-width: 475.98px) {
  .header__button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 825px;
          flex: 0 1 825px;
  gap: 15px;
}
@media (max-width: 991.98px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    width: 100%;
    height: 80%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 80px 15px 50px 15px;
    background-color: #44508d;
    z-index: 3;
  }
  .menu-open .menu {
    left: 0;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: -100%;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #5fd089;
  }
  .menu-open .menu::before {
    left: 0;
  }
}
@media (max-width: 991.98px) and (orientation: landscape) {
  .menu-open .menu {
    height: 85%;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 20px;
  }
}
@media (max-width: 475.98px) {
  .menu__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu__item {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__item a {
  padding: 5px;
}
@media (max-width: 991.98px) {
  .menu__item a {
    color: #ffffff;
    font-size: 30px;
  }
}
.menu__item--parent::after {
  content: "";
  background: url("../img/icons/sub-menu-arrow.png") 0 0 no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  height: 8px;
  width: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 991.98px) {
  .menu__item--parent::after {
    display: none;
  }
}
@media (any-hover: hover) {
  .menu__item--parent:hover::after {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .menu__item--parent:hover .sub-menu {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    visibility: visible;
    display: block;
    pointer-events: all;
  }
}
.menu__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3646db;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .menu__item:hover {
    color: #3646db;
  }
  .menu__item:hover::before {
    width: 100%;
    left: 0;
  }
}

.sub-menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
    top: 0;
    padding-top: 20px;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    z-index: 0;
  }
}
.sub-menu__list {
  width: 200px;
  border-radius: 15px;
  padding-top: 10px;
}
@media (max-width: 991.98px) {
  .sub-menu__list {
    width: 100%;
  }
}
.sub-menu__item {
  border: 1px solid #40DDB6;
  background-color: rgba(103, 120, 122, 0.4);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 30px;
}
@media (max-width: 991.98px) {
  .sub-menu__item {
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
  .sub-menu__item a {
    color: #40DDB6;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
.sub-menu__link {
  position: relative;
  color: #00a97f;
  font-weight: 600;
}
.sub-menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #40DDB6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .sub-menu__link:hover::after {
    width: 100%;
    left: 0;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    width: 30px;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after, .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 991.98px) {
  .menu-open body {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  color: #37393F;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
@media (max-width: 479.98px) {
  .wrapper {
    font-size: 16px;
  }
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1250px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  height: 100vh;
  background: url("../img/hero.webp") center/cover no-repeat;
}
@media (max-width: 1023.98px) {
  .hero {
    height: 90vh;
  }
}
@media (max-width: 991.98px) {
  .hero {
    height: 80vh;
  }
}
@media (max-width: 767.98px) {
  .hero {
    height: 100%;
  }
}
.hero__container--full {
  max-width: 1920px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(55, 57, 63, 0.91);
  height: 100%;
  padding: 40px 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 828px;
          flex: 0 1 828px;
}
.hero__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}
.hero__description *:last-child {
  margin-bottom: 0;
}
.hero__label {
  color: #ffffff;
}
.hero__title {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-size: clamp(30px, 6vw, 60px);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
  max-width: 525px;
}
.hero__title span {
  color: #40DDB6;
}
.hero__text {
  max-width: 482px;
  margin-bottom: 35px;
}
.hero__text p {
  color: #B9B9B9;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 146.187%;
}
.hero__text p:not(:last-child) {
  margin-bottom: 10px;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 482px;
  gap: 30px;
  margin-bottom: 20px;
}
@media (max-width: 475.98px) {
  .hero__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.hero__button {
  padding: 21px 27px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 185px;
          flex: 0 0 185px;
}
@media (max-width: 575.98px) {
  .hero__button {
    padding: 16px 22px;
  }
}
@media (max-width: 475.98px) {
  .hero__button {
    padding: 12px 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.hero__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 191px;
          flex: 0 0 191px;
  gap: 10px;
}
@media (max-width: 475.98px) {
  .hero__video {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.hero__play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 575.98px) {
  .hero__play {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 475.98px) {
  .hero__play {
    width: 40px;
    height: 40px;
  }
}
@media (any-hover: hover) {
  .hero__play:hover {
    border-color: #ffffff;
  }
}
.hero__play svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hero__play svg circle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .hero__play svg:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }
  .hero__play svg:hover circle {
    fill: #3646db;
  }
}
.hero__watch {
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: underline;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .hero__watch:hover {
    color: #40DDB6;
    text-decoration-color: #40DDB6;
  }
}

.welcome {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.welcome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .welcome__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 828px;
  padding: 150px 68px 150px 350px;
  margin-left: -350px;
  background-color: #F4F4F4;
}
@media (max-width: 991.98px) {
  .ready {
    padding: 20px;
    margin: auto -15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.ready__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 408px;
          flex: 1 1 408px;
  height: 100%;
}
@media (max-width: 991.98px) {
  .ready__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}
@media (max-width: 767.98px) {
  .ready__content {
    gap: 20px;
  }
}
@media (max-width: 575.98px) {
  .ready__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.ready__image {
  max-width: 408px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 22px;
}
@media (max-width: 991.98px) {
  .ready__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    margin-bottom: 0;
  }
}
@media (max-width: 575.98px) {
  .ready__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.ready__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 408/446;
}
.ready__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .ready__description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
  }
}
@media (max-width: 575.98px) {
  .ready__description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.ready__title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-size: clamp(24px, 5.5vw, 30px);
  font-weight: 600;
  line-height: 1.21;
  margin-bottom: 13px;
}
.ready__text {
  margin-bottom: 15px;
}
.ready__text p {
  color: #7D7D7D;
  line-height: 1.46;
}
.ready__text p:not(:last-child) {
  margin-bottom: 10px;
}
.ready__link {
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 2px solid #37393F;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .ready__link:hover {
    color: #3646db;
    border-color: #3646db;
  }
}

.care {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 742px;
          flex: 1 1 742px;
  padding: 20px 60px 20px 69px;
}
@media (max-width: 1047.98px) {
  .care {
    padding: 20px 30px;
  }
}
@media (max-width: 991.98px) {
  .care {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 767.98px) {
  .care {
    padding: 20px 0;
  }
}
.care__title {
  max-width: 415px;
  margin-bottom: 15px;
}
.care__text {
  margin-bottom: 20px;
}
.care__text p {
  color: #7D7D7D;
  line-height: 1.46;
}
.care__text p:not(:last-child) {
  margin-bottom: 15px;
}
.care__list {
  margin-bottom: 43px;
}
@media (max-width: 991.98px) {
  .care__list {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .care__list {
    margin-bottom: 20px;
  }
}
.care__item {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-left: 35px;
}
@media (max-width: 767.98px) {
  .care__item {
    font-size: 18px;
  }
}
@media (max-width: 479.98px) {
  .care__item {
    font-size: 16px;
  }
}
.care__item:not(:last-child) {
  margin-bottom: 23px;
}
.care__item::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -35px;
  border-radius: 50%;
  background: url("../img/icons/checked.svg") center/cover no-repeat;
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
}
@media (max-width: 767.98px) {
  .care__item::before {
    width: 20px;
    height: 20px;
    left: -25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
  }
}
.care__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .care__advantages {
    margin-bottom: 30px;
  }
}
@media (max-width: 479.98px) {
  .care__advantages {
    margin-bottom: 20px;
    gap: 10px;
  }
}
.care__button {
  padding: 21px 27px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media (max-width: 575.98px) {
  .care__button {
    padding: 16px 23px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 479.98px) {
  .care__button {
    padding: 12px 20px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  gap: 19px;
  border: 1px solid #E3E3E3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 295px;
          flex: 0 0 295px;
}
@media (max-width: 675.98px) {
  .block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 575.98px) {
  .block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 20px;
  }
}
.block__text p {
  color: #7D7D7D;
  font-size: 16px;
  line-height: 1.35;
}
.block__title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 40px 50px;
}
@media (max-width: 991.98px) {
  .brand {
    padding: 50px 30px;
  }
}
@media (max-width: 767.98px) {
  .brand {
    padding: 30px 15px;
  }
}
.brand__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brand__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1140px;
          flex: 1 1 1140px;
  row-gap: 20px;
  -webkit-column-gap: clamp(30px, 5vw, 115px);
     -moz-column-gap: clamp(30px, 5vw, 115px);
          column-gap: clamp(30px, 5vw, 115px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 867.98px) {
  .brand__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.brand__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 99px;
  width: auto;
  overflow: hidden;
}
.brand__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #37393F;
  padding: 20px;
}
.footer a {
  color: #40DDB6;
  font-size: 30px;
  font-size: clamp(30px, 5vw, 40px);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .footer a:hover {
    color: #6B78E5;
  }
}