@import '_fonts.scss';
@import '_reset.scss';

$white: #FFFFFF;
$black: #000000;
$orange: #D06B00;
$bg-main: #FFF9F4;
$bg: #0E333D;
$hover: #186378;
$green: #40DDB6;
$blue: #4c0cac;
$ff-inter: "Inter", sans-serif;
$ff-dm: 'DM Serif Text', serif;
$ff-corm: 'Cormorant Infant', serif;
$ff-rale: 'Raleway', sans-serif;
$ff-ubuntu: 'Ubuntu', sans-serif;
$ff-pop: 'Poppins', sans-serif;
$ff-merri: 'Merriweather', serif;

html {
    scroll-behavior: smooth;
}

body {
    @media (max-width: 960px) {
        .menu-open & {
            overflow: hidden;
        }
    }
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
    background-color: $bg-main;

    main {
        flex-grow: 1;
    }
}

.jewellery {
	display: flex;
	flex-direction: column;
    position: relative;
}

[class*="__container"] {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

//        HEADER

.header {
    position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: $bg-main;
    border-bottom: 1px solid rgba(131, 131, 131, 0.21);

		&__container {
            display: flex;
            gap: 20px;
            align-items: center;
            min-height: 100px;
            padding-top: 22px;
            padding-bottom: 34px;

            @media (max-width: 960px) {
                min-height: 50px;
            }

            @media (max-width: 440px) {
                gap: 5px;
            }
		}

		&__logo {
            color: $black;
            font-family: $ff-merri;
            font-size: 30px;
            font-style: italic;
            font-weight: 700;
            flex-shrink: 0;
            position: relative;
            z-index: 5;

            @media (max-width: 440px) {
                font-size: 24px;
            }
		}

		&__actions {
            flex-shrink: 0;
		}
}

.menu {
    flex: 1 1 auto;

    &__body {
        @media (max-width: 960px) {
            position: fixed;
            width: 100%;
            height: 100%;
            overflow: auto;
            top: 0;
            left: -100%;
            transition: left 0.3s;
            padding: 80px 15px 30px 15px;
            background-color: #3c686c;

            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: 70px;
                top: 0;
                left: -100%;
                z-index: 2;
                transition: left 0.3s;
                background-color: #d08c5f;
            }

            .menu-open  & {
                left: 0;

                &::before {
                    left: 0;
                }
            }
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        column-gap: 36px;
        row-gap: 8px;
        flex-wrap: wrap;

        @media (max-width: 1024px) {
            column-gap: 30px;
        }

        @media (max-width: 960px) {
            flex-direction: column;
            text-align: right;
            row-gap: 28px;
        }
    }

    &__item {
        @media (any-hover: hover) {
            &:hover {
                .menu__link {
                    text-decoration-line: underline;
                }
            }
        }

        &--act {
            .menu__link {
                font-weight: 700;
                text-decoration-line: underline;
            }
        }

        &--parent {
            position: relative;

            .menu__link {
                display: flex;
                align-items: center;
                gap: 4px;
    
                &::after {
                    content: "";
                    background: url("../img/sub-menu-arrow.png") 0 0 no-repeat;
                    flex: 0 0 16px;
                    height: 8px;
                    width: 16px;
                    transition: all 0.3s;
                }
            }
    
            @media (any-hover: hover) {
                &:hover {
                    .sub-menu {
                        opacity: 1;
                        transform: translate(0px, 0px);
                        visibility: visible;
                        display: block;
                        pointer-events: all;
                    }
                    .menu__link {
                        &::after {
                            transform: rotate(-180deg);
                        }
                        &::before {
                            transform: rotate(-135deg);
                        }
                    }
                }
            }
    
            @media (max-width: 960px) {
                .menu__link {
                    display: block;
                    position: relative;
    
                    &::after {
                        display: none;
                    }
    
                    &::before {
                        display: none;
                    }
                }
                
                &::before {
                    display: none;
                }
            }
        }
    }

    &__link {
        font-family: $ff-merri;
        font-size: 20px;
        color: $black;
        transition: color 0.3s;

        @media (max-width: 960px) {
            color: $white;
            font-size: 28px;
        }
    }

}
.sub-menu {
    transition: all 0.3s;
	position: absolute;
	top: 100%;
	left: 0;
	padding-top: 5px;
	transform: translate(0px, 10%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

    @media (max-width: 960px) {
        top: -18px;
        right: 150px;
        z-index: 2;
        position: relative;
        visibility: visible;
        opacity: 1;
        padding-top: 20px;
        transform: translate(0px, 0px);
        z-index: 0;
    }

    &__list {
        width: 140px;
        border-radius: 15px;
        padding-top: 10px;

        @media (max-width: 960px) {
            width: 100%;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;

            @media (max-width: 960px) {
                margin-bottom: 15px;
            }
        }
    }

    &__link {
        background-color: #67787a7f;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        color: $white;
        padding: 8px 30px;
        font-size: 18px;
        
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }

        @media (max-width: 960px) {
            font-size: 24px;
            width: 200px;
        }
    }
}

.actions-header {
    display: flex;
	align-items: center;
	gap: 23px;
	position: relative;
	z-index: 5;

    @media (max-width: 440px) {
        gap: 10px;
    }

    &__button {
        color: $white;
        font-family: $ff-merri;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        background-color: $bg;
        padding: 12px 27px;
        transition: background-color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                background-color: $hover;
            }
        }

        @media (max-width: 960px) {
            font-size: 18px;
            padding: 10px 25px;
        }

        @media (max-width: 440px) {
            font-size: 16px;
        }
    }
		
}

.icon-menu {
    display: none;

    @media (max-width: 960px) {
        width: 30px;
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;

        & span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s;
            background-color: $black;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }

		span {
			top: 50%;
			margin-top: -1px;

            .menu-open & {
                transform: scale(0);
            }
		}

		&::before {
			top: 0;

            .menu-open & {
                transform: rotate(-45deg);
                top: 50%;
                margin-top: -1px;
            }
		}

		&::after {
			bottom: 0;

            .menu-open & {
                transform: rotate(45deg);
                bottom: 50%;
                margin-bottom: -1px;
            }
		}
    }
}

//      MAIN

//      Section Design

.design {

    &__container {
        padding: 100px 15px 140px; 
        flex-grow: 1;
        display: flex;
        gap: 7.25%;

        @media (max-width: 1023.98px) {
            gap: 3%;
        }

        @media (max-width: 960px) {
            padding: 50px 15px 80px;
        }

        @media (max-width: 767.98px) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 479.98px) {
            padding: 30px 15px;
        }
    }

    &__body {
        flex: 0 1 577px;
        padding-top: 80px;
        padding-bottom: 65px;

        *:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 767.98px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 0 1 auto;
            padding-top: 0;
            padding-bottom: 30px;
        }
    }

    &__title {
        color: $bg;
        font-family: $ff-dm;
        /* font-size: 78px; */
        font-size: calc(32px + 37 * (100vw / 1220));
        line-height: 1.27;
        margin-bottom: 32px;

        @media (min-width: 1220px) {
            font-size: 78px;
        }

        @media (max-width: 1023.98px) {
            line-height: 1.15;
        }

        @media (max-width: 767.98px) {
            text-align: center;
            margin-bottom: 15px;
        }
    }

    &__text {
        color: #727272;
        font-family: $ff-inter;
        /* font-size: 22px; */
        font-size: calc(12px + 8 * (100vw / 1220));
        line-height: 1.48;
        margin-bottom: 48px;

        @media (min-width: 1220px) {
            font-size: 22px;
        }

        @media (max-width: 767.98px) {
            text-align: center;
            margin-bottom: 15px;
        }
    }

    &__images {
        display: flex;
        column-gap: 32px;
        max-height: 467px;

        @media (max-width: 1023.98px) {
            column-gap: 20px;
        }

        @media (max-width: 967.98px) {
            column-gap: 10px;
        }

        @media (max-width: 767.98px) {
            column-gap: 35px;
        }

        @media (max-width: 479.98px) {
            column-gap: 15px;
        }
    }
}

.btn {
    font-family: $ff-dm;
    display: flex;
    align-items: center;
    column-gap: 15px;

    button {
        /* font-size: 28px; */
        font-size: calc(12px + 14 * (100vw / 1220));
        font-family: var(--ff-dm);
        flex-shrink: 0;

        @media (min-width: 1220px) {
            font-size: 28px;
        }

        @media (max-width: 479.98px) {
            padding: 10px 30px;
        }
    }

    &__shop {
        color: $white;
        padding: 12px 30px;
        border-radius: 5px;
        background-color: $bg;
        transition: background-color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                background-color: $hover;
            }
        }
    }

    &__video {
        color: $bg;
        padding: 12px 35px;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 0.5s ease-out;

        @media (any-hover: hover) {
            &:hover {
                text-decoration-color: initial;
            }
        }
    }
}

.images {

    &__item {
        display: flex;
        flex: 0 1 245px;
        overflow: hidden;
        transition: all 0.3s;

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                border-radius: 20px;

                img {
                    transform: scale(1.05);
                }
            }
        }

        @media (max-width: 479.98px) {
            &--bottom {
                margin-top: 0;
            }
    
            &--top {
                margin-bottom: 0;
            }
        }

        &--bottom {
            margin-top: 70px;
        }

        &--top {
            margin-bottom: 70px;
        }

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 245 / 467;
            object-fit: cover;
            transition: transform 0.3s;
        }
    }

}

//      Section Products

.products {
    color: $white;
    background-color: $bg;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 94px 15px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 991.98px) {
            padding: 50px 15px;
        }

        @media (max-width: 767.98px) {
            padding: 30px 15px;
        }
    }

    &__title {
        font-family: $ff-dm;
        /* font-size: 48px; */
        font-size: calc(30px + 18 * (100vw / 1200));
        line-height: 1.27;
        margin-bottom: 23px;

        @media (min-width: 1220px) {
            font-size: 48px;
        }
    }

    &__subtitle {
        color: #EBEBEB;
        font-family: $ff-rale;
        /* font-size: 20px; */
        font-size: calc(16px + 4 * (100vw / 1200));
        font-weight: 500;
        line-height: 1.27;
        margin-bottom: 34px;

        @media (min-width: 1220px) {
            font-size: 20px;
        }
    }

    &__filters {
        display: flex;
        column-gap: 41px;
        font-family: $ff-rale;
        /* font-size: 18px; */
        font-size: calc(14px + 4 * (100vw / 1200));
        font-weight: 600;
        line-height: 1.27;
        margin-bottom: 77px;

        @media (min-width: 1220px) {
            font-size: 18px;
        }

        @media (max-width: 767.98px) {
            column-gap: 20px;
            margin-bottom: 30px;
        }
    }

    &__articles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin: 0 auto;
        margin-bottom: 20px;

        @media (max-width: 767.98px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 479.98px) {
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
        }
    }
}

.filter {

    &__item {
        position: relative;

        @media (any-hover: hover) {
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $white;
            transition: all 0.3s ease-in-out;
        }

        &--active {
            &::after {
                width: 100%;
            }
        }
    }
}

.article {

    &__description {
        display: grid;
        row-gap: 17px;

        @media (max-width: 767.98px) {
            row-gap: 10px;
        }

        @media (max-width: 479.98px) {
            width: 100%;
        }
    }

    &__img {
        border-radius: 5px;
        overflow: hidden;

        @media (max-width: 479.98px) {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 270 / 270;
            border-radius: 12px;
            transition: all 0.3s ease;
            
            @media (any-hover: hover) {
                &:hover {
                    border-radius: 50% 50% 50% 0;
                }
            }
        }
    }

    &__info {
        display: grid;
        font-family: $ff-corm;
        /* font-size: 24px; */
        font-size: calc(18px + 5 * (100vw / 1200));
        font-weight: 700;
        line-height: 1.4;

        @media (min-width: 1220px) {
            font-size: 24px;
        }

        @media (max-width: 991.98px) {
            align-items: center;
            
            p {
                text-align: center;
            }
        }
    }

    &__title {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: $orange;
            transition: all 0.3s ease-in-out;
        }

        @media (any-hover: hover) {
            &:hover {
                &::after {
                    width: 100%;
                    left: 0;
                }
            }
        }

        @media (max-width: 991.98px) {
            text-align: center;
        }
    }
}

//      Section Create

.create {

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 38px;
        padding: 140px 15px 70px;

        @media (max-width: 867.98px) {
            grid-template-columns: repeat(1, 1fr);
            padding-top: 100px;
        }

        @media (max-width: 767.98px) {
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }

    &__body {

        *:last-child {
            margin-bottom: 0;

            @media (max-width: 991.98px) {
                margin-bottom: 20px;
            }
        }
    }

    &__subtitle {
        color: $orange;
        font-family: $ff-inter;
        /* font-size: 28px; */
        font-size: calc(18px + 10 * (100vw / 1200));
        margin-bottom: 13px;

        @media (min-width: 1220px) {
            font-size: 28px;
        }
    }

    &__title {
        color: $bg;
        font-family: $ff-dm;
        /* font-size: 59px; */
        font-size: calc(28px + 25 * (100vw / 1220));
        line-height: 1.465;
        margin-bottom: 25px;

        @media (min-width: 1220px) {
            font-size: 59px;
        }
    }

    &__text {
        p {
            color: #474747;
            font-family: Inter;
            /* font-size: 20px; */
            font-size: calc(12px + 8 * (100vw / 1220));
            line-height: 180%;

            @media (min-width: 1220px) {
                font-size: 20px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 22px;
    position: relative;

    &__img {
        border-radius: 5px;
        overflow: hidden;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 273 / 518;
        }
    }
}

//      Section Popular

.popular {

    &__container {
        display: grid;
        justify-content: center;
        padding: 70px 15px;
        row-gap: 128px;

        @media (max-width: 767.98px) {
            padding-top: 30px;
            padding-bottom: 30px;
            row-gap: 50px;
        }
    }

    &__body {
        display: grid;
        row-gap: 29px;
    }

    &__title {
        color: $bg;
        font-family: $ff-dm;
        /* font-size: 48px; */
        font-size: calc(30px + 14 * (100vw / 1200));
        line-height: 1.27;
        text-align: center;

        @media (min-width: 1220px) {
            font-size: 48px;
        }
    }

    &__text {
        p {
            color: #8C8B8A;
            font-family: $ff-rale;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.27;
            text-align: center;
        }
    }

    &__product {
        display: flex;
        column-gap: 31px;
    }
}

.product {

    &__img {
        flex: 0 1 398px;
        overflow: hidden;

        @media (max-width: 767.98px) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 398 / 728;
            transition: all 0.3s;
        }
    }

    &__list {
        flex: 0 1 768px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 47px 30px;

        @media (max-width: 767.98px) {
            gap: 20px;
        }

        @media (max-width: 479.98px) {
            grid-template-columns: repeat(1, 1fr);
            
        }
    }

    &__item {
        display: grid;
        row-gap: 17px;

        @media (max-width: 767.98px) {
            row-gap: 10px;
        }
    }

    &__image {
        overflow: hidden;
        transition: all 0.3s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 396 / 277;
            transition: all 0.3s;
        }

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                border-radius: 20px;

                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__info {
        display: grid;
        row-gap: 4px;

        @media (max-width: 767.98px) {
            text-align: center;
        }
    }

    &__title,
    &__price {
        color: $black;
        font-family: $ff-corm;
        /* font-size: 24px; */ 
        font-size: calc(16px + 6 * (100vw / 1220));
        font-weight: 700;
        line-height: 1.4;

        @media (min-width: 1220px) {
            font-size: 24px;
        }
    }

    &__title {
        a {
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: text-decoration-color 0.5s ease-out;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration-color: $orange;
                }
            }
        }
    }
}

//      Footer

.footer {
    position: relative;
    font-family: $ff-ubuntu;
    color: $bg;
    border-top: 3px solid $green;
    width: 100%;
    background-image: url('../img/footer/bg_repeat.jpg');
    z-index: 7;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 10px;
    }

    &__logo {
        width: 100px;
        height: 100px;

        img {
            width: 100%;
        }
    }

    &__copyright {
        p {
            &::before {
                display: inline-block;
                content: "";
                width: 22px;
                height: 22px;
                margin: 0 5px -3px 0;
                background: url('../img/footer/circle-c.svg') center / contain no-repeat;
            }
        }
    }

    &__info {
        line-height: 1.2;

        *:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__validator {
        text-align: center;
    }

    a {
        cursor: pointer;
        font-style: italic;
        font-weight: 700;
        border-bottom: 2px solid transparent;
        transition: all .3s;
        
        &:hover {
            color: $blue;
            border-bottom: 2px solid $blue;
        }
    }
}
