.hero {
    color: $col-white;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.15);
        z-index: 1;
    }

    @media (max-width: 991.98px) {
        min-height: 90vh;
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        aspect-ratio: 1449 / 716 ;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: 80% 0%;
        z-index: 0;

        @media screen and (max-width: 991.98px) {
            object-position: 60% 0%;
        }
    }

    &__container {
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;

        @media screen and (max-width: 991.98px) {
            height: 90vh;
        }

        @media screen and (max-width: 767.98px) {
            height: 80vh;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 1 439px;
        margin: 0 90px;
        max-width: 439px;
        row-gap: clamp(20px, 3vw, 40px);
        z-index: 2;

        @media (max-width: 647.98px) {
            margin: 0 auto;
        }
    }

    &__subtitle {
        font-size: clamp(24px, 2.5vw, 32px);
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.157px;
        text-transform: capitalize;
    }

    &__title {
        font-size: clamp(54px, 7.5vw, 78px);
        font-weight: 800;
        line-height: 1.2;
        letter-spacing: 0.315px;
        text-transform: capitalize;
    }

    &__text {
        font-size: clamp(24px, 2.5vw, 32px);
        font-weight: 500;
        line-height: 1.48;
        letter-spacing: 0.315px;
        text-transform: lowercase;
    }

    &__button {
        color: $col-main;
        background-color: $col-white;
        font-family: $ff-caus;
        font-size: clamp(18px, 2.5vw, 24px);
        font-weight: 700;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: clamp(10px, 2.5vw, 16px) clamp(40px, 5vw, 72px);
        transition: all 0.5s ease-in-out;

        @media (any-hover: hover) {
            &:hover {
                color: $col-white;
                background-color: $col-hover;
                border: 1px solid $col-white;
            }
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);

        @media (max-width: 767.98px) {
            top: 90%;
        }
    }

    &__arrow--left {
        left: 40px;
        
        img {
            transition: transform 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    transform: translateX(-5px);
                }
            }
        }
    }

    &__arrow--right {
        right: 40px;
        
        img {
            transition: transform 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    transform: translateX(5px);
                }
            }
        }
    }

    &__indicators {
        position: absolute;
        bottom: 49px;
        left: 50%;
        transform: translateX(-50%);
    }
}