$ff-rob: "Roboto", sans-serif;
$ff-pop: 'Poppins', sans-serif;
$ff-mont: 'Montserrat', serif;
$ff-caus: 'Causten', serif;
$ff-core: 'Core Sans C', sans-serif;

$col-main: #3C4242;
$col-second: #807D7E;
$col-add: #BEBCBD;
$col-hover: #576161;
$col-violet: #8A33FD;
$col-bg: #EDEEF2;
$col-bg-in: #F6F6F6;

$col-black: #000000;
$col-white: #ffffff;
$col-blue: #6B77E5;

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;