@import url('reset.css');
@import url('fonts.css');

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.header {
    border-bottom: 3px solid #40DDB6;
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto 50px;
    background: url('../img/header-bg.jpg') 0 0 / cover no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

.navigation__list-item {
    display: inline-block;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
}

.navigation__list-item a {
    cursor: pointer;
    padding: 20px;
    color: #4c0cac;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

/* ------------------- Fashion --------------------- */

.fashion {
    font-family: 'Causten', sans-serif;
    max-width: 1270px;
    margin: 0 auto 50px;
    padding: 25px 15px;
}

.fashion__container {
    font-size: 0;
}

.fashion__left,
.fashion__right {
    display: inline-block;
    min-height: 640px;
}

.fashion__left {
    max-width: 614px;
    background: url(../img/fashion-bg-left.png) center / cover no-repeat;
    border-radius: 15px 0 0 15px;
}

.fashion__left-content {
    padding: 183px 74px 174px;
}

.fashion__left-content h2 {
    color: #FFF;
    font-family: 'Core Sans C', sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.47;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
}

.fashion__left-content p {
    color: #FFF;
    font-family: Causten;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.fashion__left-content a {
    cursor: pointer;
    color: #3C4242;
    font-family: 'Causten', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 44px;
    border-radius: 8px;
    background-color: #ffffff;
}

.fashion__right {
    max-width: 626px;
    width: 100%;
    background: url(../img/fashion-bg-right.png) center / cover no-repeat;
    border-radius: 0 15px 15px 0;
    vertical-align: top;
}

/* ------------------ Projects ---------------------- */

.projects {
    max-width: 1250px;
    margin: 0 auto 50px;
    padding: 25px 15px;
}

.projects-subtitle {
    display: inline-block;
    color: #37393F;
    font-weight: 500;
    padding-left: 18px;
    background: url('../img/box.png') 0 3px no-repeat;
    margin-bottom: 14px;
}

.projects-title {
    color: #37393F;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 121%;
    margin-bottom: 14px;
}

.projects-desc-text p {
    color: #7D7D7D;
    font-weight: 400;
    line-height: 1.46;
    
}

.projects-desc {
    text-align: center;
    max-width: 852px;
    margin: 0 auto 47px;
}

.projects-top-line {
    margin-bottom: 58px;
}

.projects-top-line,
.projects-bottom-line {
    font-size: 0;
}

.project-item {
    display: inline-block;
    max-width: 384px;
    width: 100%;
    margin-right: 34px;
}

.item-3,
.item-6 {
    margin-right: 0;
}

.projects-img {
    min-height: 500px;
    margin-bottom: 24px
}

.projects-description h3 {
    color: #37393F;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 10px; 
}

.projects-description p {
    color: #7D7D7D;
    font-size: 14px;
    line-height: 1.46;
    padding-left: 27px;
    background: url(../img/done.svg) no-repeat;
}

.item-1 .projects-img {
    background: url(../img/photo-1.png) center / cover no-repeat;
}

.item-2 .projects-img {
    background: url(../img/photo-2.png) center / cover no-repeat;
}

.item-3 .projects-img {
    background: url(../img/photo-3.png) center / cover no-repeat;
}

.item-4 .projects-img {
    background: url(../img/photo-4.png) center / cover no-repeat;
}

.item-5 .projects-img {
    background: url(../img/photo-5.png) center / cover no-repeat;
}

.item-6 .projects-img {
    background: url(../img/photo-6.png) center / cover no-repeat;
}

/* ----------------- Whitecollar ----------------------- */

.welcome {
    max-width: 705px;
    margin: 0 auto 50px;
    padding: 25px 15px;
}

.welcome__subtitle {
    color: #37393F;
    font-weight: 500;
    padding-left: 18px;
    background: url('../img/box.png') 0 3px no-repeat;
    margin-bottom: 16px;
}

.welcome__title {
    max-width: 413px;
    color: #37393F;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.welcome__desc {
    margin-bottom: 20px;
}

.welcome__desc p {
    color: #7D7D7D;
    line-height: 1.46;
    margin-bottom: 15px;
}

.welcome__list {
    margin-bottom: 43px;
}
.welcome__list-item {
    color: #37393F;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.68;
    padding-left: 33px;
    margin-bottom: 23px;
    background: url('../img/list-marker.svg') 0 3px no-repeat;
}

.welcome__advantages {
    margin-bottom: 37px;
}

.welcome__advantages-item {
    display: inline-block;
    border: 1px solid #E3E3E3;
    padding: 32px 32px 32px 90px;
    max-width: 295px;
    margin: 0 20px 20px 0;
}

.item1 {
    background: url('../img/icon-1.svg') 32px 32px no-repeat;
}

.item2 {
    background: url('../img/icon-2.svg') 32px 32px no-repeat;
}

.welcome__advantages-title {
    color: #37393F;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}

.welcome__advantages-item p {
    color: #7D7D7D;
    font-size: 16px;
    line-height: 1.35;
}

.welcome__link {
    cursor: pointer;
    background-color: #6B77E5;
    color: #ffffff;
    font-weight: 600;
    padding: 22px 27px;
    margin-bottom: 20px;
}

/* ------------------ Clothing ---------------------- */

.clothing {
    font-family: "Causten", sans-serif;
    max-width: 1270px;
    margin: 0 auto 50px;
    padding: 25px 15px;
}

.clothing__title,
.clothing__block-title,
.clothing__link {
    font-family: "Core Sans C", sans-serif;
    font-weight: 600;
}

.clothing__title {
    color: #3C4242;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.56px;
    padding-left: 21px;
    margin-bottom: 30px;
    background: url('../img/marker.png') 0 3px no-repeat;
}

.clothing__content {
    padding-left: 21px;
}

.clothing__block {
    margin-bottom: 25px;
}

.clothing__block-title,
.clothing__link {
    color: #807D7E;
    font-size: 20px;
    line-height: 1.68;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
}

.clothing__block-text p {
    color: #807D7E;
    font-size: 20px;
    line-height: 1.68;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}

.clothing__block-text span {
    font-weight: 700;
}

.clothing__link {
    cursor: pointer;
}

/* ------------------ Practice ---------------------- */

.practice {
    max-width: 1600px;
    margin: 0 auto 50px;
    padding: 25px 15px;
}

.block {
    max-width: 1200px;
    margin: 0 auto 50px;
    width: 100%;
    min-height: 400px;
    border-radius: 50px;
}
    
.block-1 {
    min-height: 850px;
    background: linear-gradient(55.95deg, rgba(58, 61, 255, 0.3) 0%, rgba(247, 94, 5, 0.3) 100%), url(../img/practice.jpg) center / cover no-repeat;
    background-attachment: fixed;
    box-shadow: 10px 10px 15px #ff1900, -10px -10px 15px #2f00ff;
}

.block-1 p {
    color: #ff8400;
    text-shadow: 5px 5px 10px #6B77E5, -5px -5px 10px #40DDB6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding: 100px 0;
}

.block-1 img {
    display: block;
    width: 100px;
    margin: 0 auto;
}

.block-2 {
    border: 2px solid #40DDB6;
    padding: 30px;
    background-image: url('../img/bg-1.jpg');
}

.block-3 {
    font-size: 0;
}

.block-mini {
    font-size: 20px;
    display: inline-block;
    max-width: 550px;
    width: 100%;
    min-height: 400px;
    border-radius: 50px;
    border: 2px solid #4055dd;
    vertical-align: top;
    padding: 30px;
    color: #00ff7f;
}

.block-3 div + div {
    color: #4055dd;
    border: 2px solid #00ff7f ;
}

.mini-1 {
    background: url('../img/bg-2.jpg') center / 200px 120px repeat-x;
    margin-right: 100px;
}

.mini-2 {
    background: url('../img/bg-3.jpg') 0 0 / 100px 150px repeat-y;
}

.block-4 {
    border: 2px solid #ff1900;
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 25%, rgba(146,122,190,1) 49%, rgba(20,161,0,1) 76%, rgba(253,187,45,1) 100%);
}

.block-4 p {
    color: #1100ff;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
}

.block-4 a {
    color: fuchsia;
}

/* --------------- Footer ------------------ */

.footer {
    border-top: 3px solid #40DDB6;
    padding: 30px;
    margin: 0 auto;
    background-image: url('../img/bg_repeat.jpg');
}

.footer__logo {
    font-weight: 500;
    font-style: italic;
    color: #40DDB6;
    margin-right: 25vw;
}

.footer__info {
    display: inline-block;
    vertical-align: bottom;
    line-height: 1.7;
    margin-bottom: 50px;
}

.footer__info a {
    cursor: pointer;
    font-weight: 700;
}

.footer__info a:hover {
    color: #4c0cac;
}

.footer__info img {
    vertical-align: middle;
}
