.header {
    position: relative;

    &__top {
        color: $cl-white;
        background-color: $cl-main;
        padding-top: 21px;
        padding-bottom: 21px;

        @media (max-width: 991.98px) {
            padding: 0;
            opacity: 0;
            left: -100%;
            transition: all 0.3s;

            .menu-open & {
                position: fixed;
                overflow: auto;
                opacity: 1;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 20%;
                min-height: 127px;
                z-index: 5;
                border-bottom: 2px solid $cl-white;

                @media (orientation: landscape) {
                    height: 15%;
                    min-height: 85px;
                }
            }
        }
    }

    &__container {
        @include flex-row-between;
        gap: 15px;

        &--top {
            @media (max-width: 991.98px) {
                display: none;
                flex-direction: column;
                justify-content: flex-start;

                @media (orientation: landscape) {
                    flex-direction: row;
                }

                .menu-open & {
                    display: flex;
                    padding: 15px;
                    gap: 10px;
                }
            }
        }
    }

    &__contacts {
        @include flex-row-between;
        flex: 0 1 475px;
        gap: 10px;

        @media (max-width: 991.98px) {
            flex-direction: column;
            flex: 1 1 100%;
        }

        @media (max-width: 767.98px) {
            gap: 5px;
        }
    }

    &__address {
        @include flex-row;
        flex-shrink: 0;
        font-size: 14px;
        gap: 10px;
        transition: color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                color: $cl-green;
            }
        }
    }

    &__email {
        @include flex-row;
        font-size: 14px;
        gap: 10px;
        transition: color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                color: $cl-green;
            }
        }
    }

    &__info {
        @include flex-row-between;
        flex: 0 1 377px;
        gap: 10px;

        @media (max-width: 991.98px) {
            flex-direction: column;
            flex: 1 1 100%;
        }

        @media (max-width: 767.98px) {
            gap: 5px;
        }
    }

    &__opening {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 10px;
    }

    &__social {
        @include flex-row;
        gap: 16px;

        svg {
            width: 18px;
            height: 18px;
            transition: all 0.3s;

            path {
                transition: all 0.3s;
            }

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.3);
                }
                &:hover > path {
                    fill: $cl-green;
                }
            }
        }
    }

    &__bottom {
        padding-top: 33px;
        padding-bottom: 33px;

        @media (max-width: 991.98px) {
            padding: 20px 0;
        }
    }

    &__logo {
        position: relative;
        @include flex-row;
        flex: 0 0 210px;
        z-index: 5;
    }

    &__title {
        color: $cl-main;
        font-family: $ff-pop;
        font-size: 25px;
        font-weight: 700;
    }

    &__title--color {
        color: $cl-blue;
    }

    &__actions {
        @include flex-row;
        flex: 0 1 825px;

        @media (max-width: 991.98px) {
            justify-content: flex-end;
        }
    }

    &__button {
        padding: clamp(18px, 2vw, 21px) clamp(25px, 4vw, 35px);
        max-width: 184px;
        width: 100%;

        @media (max-width: 991.98px) {
            align-self: flex-end;
        }

        @media (max-width: 475.98px) {
            align-self: center;
        }
    }
}

.menu {
    position: relative;
    @include flex-row;
    flex: 0 1 825px;
    gap: 15px;

    @media (max-width: 991.98px) {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
		width: 100%;
		height: 80%;
		overflow: auto;
        top: 0;
		left: -100%;
		transition: all 0.3s;
		padding: 80px 15px 50px 15px;
		background-color: #44508d;
        z-index: 3;

        .menu-open & {
            left: 0;
        }

        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 70px;
            top: 0;
            left: -100%;
            z-index: 2;
            transition: left 0.3s;
            background-color: #5fd089;

            .menu-open & {
                left: 0;
            }
        }
    }

    @media (max-width: 991.98px) and (orientation: landscape) {
        .menu-open & {
            height: 85%;
        }
    }

    &__list {
        @include flex-row;
        justify-content: center;
        width: 100%;
        gap: 12px;
        flex-wrap: wrap;

        @media (max-width: 991.98px) {
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;
        }
        
        @media (max-width: 475.98px) {
            align-items: center;
        }
    }

    &__item {
        position: relative;
        transition: all 0.3s;

        a {
            padding: 5px;

            @media (max-width: 991.98px) {
                color: $cl-white;
                font-size: 30px;
            }
        }

        &--parent {

            &::after {
                content: "";
                background: url("../img/icons/sub-menu-arrow.png") 0 0 no-repeat;
                flex: 0 0 16px;
                height: 8px;
                width: 16px;
                transition: all 0.3s;

                @media (max-width: 991.98px) {
                    display: none;
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    &::after {
                        transform: rotate(-180deg);
                    }
                    .sub-menu {
                        opacity: 1;
                        transform: translate(0px, 0px);
                        visibility: visible;
                        display: block;
                        pointer-events: all;
                    }
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: $cl-blue-hov;
            transition: all 0.3s ease-in-out;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $cl-blue-hov;
                &::before {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}

.sub-menu {
    transition: all 0.3s;
	position: absolute;
	top: 100%;
	left: 0;
	padding-top: 5px;
	transform: translate(0px, 10%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

    @media (max-width: 991.98px) {
        position: relative;
		visibility: visible;
		opacity: 1;
        top: 0;
		padding-top: 20px;
		transform: translate(0px, 0px);
        z-index: 0;
    }

    &__list {
        width: 200px;
        border-radius: 15px;
        padding-top: 10px;

        @media (max-width: 991.98px) {
            width: 100%;
        }
    }

    &__item {
        border: 1px solid $cl-green;
        background-color: rgba(103, 120, 122, 0.4);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        padding: 8px 30px;

        @media (max-width: 991.98px) {
            border: none;
            background-color: transparent;
            box-shadow: none;
            padding: 0;

            a {
                color: $cl-green;
            }
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        position: relative;
        color: $cl-green-hov;
        font-weight: 600;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: $cl-green;
            transition: all 0.3s ease-in-out;
        }

        @media (any-hover: hover) {
            &:hover {
                &::after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}

.icon-menu {
	display: none;

    @media (max-width: 991.98px) {
        width: 30px;
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;

        &::before,
        &::after,
        & span {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            transition: all 0.3s;
            background-color: #000;
        }

        &::before {
            top: 0;

            .menu-open & {
                transform: rotate(-45deg);
                top: 50%;
                margin-top: -1px;
            }
        }

        &::after {
            bottom: 0;

            .menu-open & {
                transform: rotate(45deg);
                bottom: 50%;
                margin-bottom: -1px;
            }
        }

        & span {
            top: 50%;
            margin-top: -1px;

            .menu-open & {
                transform: scale(0);
            }
        }
    }
}