$ff-int: 'Inter', sans-serif;
$ff-pop: 'Poppins', sans-serif;
$ff-cab: 'Cabin', sans-serif;

$cl-main: #37393F;
$cl-second: #7D7D7D;
$cl-add: #F4F4F4;
$cl-green: #40DDB6;
$cl-green-hov: #00a97f;
$cl-blue: #6B78E5;
$cl-blue-hov: #3646db;
$cl-black: #000000;
$cl-white: #ffffff;
