@import '_fonts.scss';
@import '_reset.scss';
@import '_variables.scss';
@import '_functions.scss';
@import '_mixins.scss';

@import '_common.scss';
@import '_header.scss';
@import '_hero.scss';


html {
    scroll-behavior: smooth;
}

body {
    @media (max-width: 991.98px) {
        .menu-open & {
            overflow: hidden;
        }
    }
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
    background-color: $cl-white;
    color: $cl-main;
    font-family: $ff-int;
    font-size: 18px;

    @media (max-width: 479.98px) {
        font-size: 16px;
    }

    main {
        flex-grow: 1;
    }
}

[class*="__container"] {
	max-width: 1250px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.page {
    display: flex;
    flex-direction: column;
}

//        Hero

.hero {
    height: 100vh;
    background: url('../img/hero.webp') center / cover no-repeat;

    @media (max-width: 1023.98px) {
        height: 90vh;
    }

    @media (max-width: 991.98px) {
        height: 80vh;
    }

    @media (max-width: 767.98px) {
        height: 100%;
    }

    &__container {

        &--full {
            max-width: 1920px;
            padding: 0;
            display: flex;
            height: 100%;
        }
    }

    &__content {
        @include flex-row;
        justify-content: center;
        background-color: rgba(55, 57, 63, 0.91);
        height: 100%;
        padding: 40px 20px;
        flex: 0 1 828px;
    }

    &__description {
        @include flex-column-center;
        align-items: flex-start;
        height: 100%;

        & *:last-child {
            margin-bottom: 0;
        }
    }

    &__label {
        color: $cl-white;
    }

    &__title {
        color: $cl-white;
        font-family: $ff-pop;
        font-size: 60px;
        font-size: clamp(30px, 6vw, 60px);
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 20px;
        max-width: 525px;

        span {
            color: $cl-green;
        }
    }

    &__text {
        max-width: 482px;
        margin-bottom: 35px;

        p {
            color: #B9B9B9;
            font-family: $ff-int;
            font-weight: 500;
            line-height: 146.187%;
        }

        p:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__buttons {
        @include flex-row;
        max-width: 482px;
        gap: 30px;
        margin-bottom: 20px;

        @media (max-width: 475.98px) {
            @include flex-column-center;
            align-self: center;
        }
    }

    &__button {
        padding: 21px 27px;
        flex: 0 0 185px;

        @media (max-width: 575.98px) {
            padding: 16px 22px;
        }

        @media (max-width: 475.98px) {
            padding: 12px 20px;
            flex: 1 1 100%;
        }
    }

    &__video {
        @include flex-row;
        flex: 0 0 191px;
        gap: 10px;

        @media (max-width: 475.98px) {
            flex: 1 1 100%;
        }
    }

    &__play {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid transparent;
        overflow: hidden;
        transition: all 0.3s;

        @media (max-width: 575.98px) {
            width: 50px;
            height: 50px;
        }

        @media (max-width: 475.98px) {
            width: 40px;
            height: 40px;
        }

        @media (any-hover: hover) {
            &:hover {
                border-color: $cl-white;
            }
        }

        svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 1 / 1;
            transition: all 0.3s;

            circle {
                transition: all 0.3s;
            }
    
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.3);
                }
                &:hover circle {
                    fill: $cl-blue-hov;
                }
            }
        }
    }

    &__watch {
        font-weight: 600;
        cursor: pointer;
        text-transform: capitalize;
        text-decoration: underline;
        color: $cl-white;
        transition: all 0.3s;

        @media (any-hover: hover) {
            &:hover {
                color: $cl-green;
                text-decoration-color: $cl-green;
            }
        }
    }
}

//        Welcome

.welcome {
    flex-grow: 1;

    &__container {
        @include flex-row;

        @media (max-width: 991.98px) {
            flex-direction: column-reverse;
        }
    }
}

.ready {
    display: flex;
    max-width: 828px;
    padding: 150px 68px 150px 350px;
    margin-left: -350px;
    background-color: #F4F4F4;

    @media (max-width: 991.98px) {
        padding: 20px;
        margin: auto -15px;
        max-width: fit-content;
    }

    &__content {
        flex: 1 1 408px;
        height: 100%;

        @media (max-width: 991.98px) {
            flex: 1 1 100%;
            @include flex-row;
            gap: 50px;
        }

        @media (max-width: 767.98px) {
            gap: 20px;
        }

        @media (max-width: 575.98px) {
            flex-direction: column;
        }
    }

    &__image {
        max-width: 408px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-bottom: 22px;

        @media (max-width: 991.98px) {
            flex: 1 0 250px;
            margin-bottom: 0;
        }

        @media (max-width: 575.98px) {
            flex: 1 1 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 408 / 446;
        }
    }

    &__description {
        @include flex-column-center;
        align-items: flex-start;

        @media (max-width: 991.98px) {
            flex: 1 1 400px;
        }

        @media (max-width: 575.98px) {
            flex: 1 1 100%;
        }
    }

    &__title {
        font-family: $ff-pop;
        font-size: 30px;
        font-size: clamp(24px, 5.5vw, 30px);
        font-weight: 600;
        line-height: 1.21;
        margin-bottom: 13px;
    }

    &__text {
        margin-bottom: 15px;

        p {
            color: #7D7D7D;
            line-height: 1.46;
        }

        p:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: 2px solid $cl-main;
        transition: all 0.3s;

        @media (any-hover: hover) {
            &:hover {
                color: $cl-blue-hov;
                border-color: $cl-blue-hov;
            }
        }
    }
}

.care {
    @include flex-column;
    flex: 1 1 742px;
    padding: 20px 60px 20px 69px;

    @media (max-width: 1047.98px) {
        padding: 20px 30px;
    }

    @media (max-width: 991.98px) {
        flex: 1 1 100%;
    }

    @media (max-width: 767.98px) {
        padding: 20px 0;
    }

    &__title {
        max-width: 415px;
        margin-bottom: 15px;
    }

    &__text {
        margin-bottom: 20px;

        p {
            color: #7D7D7D;
            line-height: 1.46;
        }

        p:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__list {
        margin-bottom: 43px;

        @media (max-width: 991.98px) {
            margin-bottom: 30px;
        }

        @media (max-width: 767.98px) {
            margin-bottom: 20px;
        }
    }

    &__item {
        position: relative;
        font-family: $ff-pop;
        font-size: 20px;
        margin-left: 35px;

        @media (max-width: 767.98px) {
            font-size: 18px;
        }

        @media (max-width: 479.98px) {
            font-size: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 23px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 27px;
            height: 27px;
            top: 50%;
            transform: translateY(-50%);
            left: -35px;
            border-radius: 50%;
            background: url('../img/icons/checked.svg') center / cover no-repeat;
            margin-right: 10px;
            flex: 0 0 27px;

            @media (max-width: 767.98px) {
                width: 20px;
                height: 20px;
                left: -25px;
                flex: 0 0 20px;
            }
        }
    }

    &__advantages {
        @include flex-row;
        margin-bottom: 37px;
        gap: 20px;
        flex-wrap: wrap;

        @media (max-width: 767.98px) {
            margin-bottom: 30px;
        }

        @media (max-width: 479.98px) {
            margin-bottom: 20px;
            gap: 10px;
        }
    }

    &__button {
        padding: 21px 27px;
        align-self: flex-start;

        @media (max-width: 575.98px) {
            padding: 16px 23px;
            align-self: center;
        }

        @media (max-width: 479.98px) {
            padding: 12px 20px;
            align-self: center;
        }
    }
}

.block {
    display: flex;
    padding: 32px;
    gap: 19px;
    border: 1px solid #E3E3E3;
    flex: 0 0 295px;

    @media (max-width: 675.98px) {
        flex: 1 1 100%;
    }

    @media (max-width: 575.98px) {
        flex: 1 1 100%;
        padding: 20px;
    }
    
    &__text {

        p {
            color: #7D7D7D;
            font-size: 16px;
            line-height: 1.35;
        }
    }

    &__title {
        font-family: $ff-pop;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

//       Brand

.brand {
        @include flex-column-center;
        padding: 100px 40px 50px;

        @media (max-width: 991.98px) {
            padding: 50px 30px;
        }

        @media (max-width: 767.98px) {
            padding: 30px 15px;
        }

    &__container {
        display: flex;
    }

    &__content {
        @include flex-row;
        justify-content: center;
        flex: 1 1 1140px;
        row-gap: 20px;
        column-gap: clamp(30px, 5vw, 115px);
        flex-wrap: wrap;

        @media (max-width: 867.98px) {
            justify-content: center;
        }
    }

    &__image {
        @include flex-column-center;
        height: 99px;
        width: auto;
        overflow: hidden;

        img {
            object-fit: cover;
        }
    }
}

//       Footer

.footer {
    @include flex-column-center;
    background-color: $cl-main;
    padding: 20px;

    a {
        color: $cl-green;
        font-size: 30px;
        font-size: clamp(30px, 5vw, 40px);
        transition: color 0.3s;

        @media (any-hover: hover) {
            &:hover {
                color: $cl-blue;
            }
        }
    }
}